---
let date = new Date();
let year = date.getFullYear();
---

<div class="w-auto h-16 relative top-80">
    <p class="relative ml-40 text-sm top-7 opacity-50 font-bold">2022 - {year} © UnoxDevs</p>
</div>