---
import "../styles/style.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="https://i.hizliresim.com/wdyeimt.png" />
		<meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
        <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
		<title>UnoxDevs</title>
	</head>
	<body>
		<div class="w-auto h-16 shadow-md">
			<img class="transform transition-all absolute md:ml-auto md:mr-auto md:left-0 md:right-0 w-16 h-16" src="https://i.hizliresim.com/ogmcoye.png">
			<div>
				<a href="https://discord.gg/ype7TqK4FM" class="relative top-3 float-right -left-3 inline-block rounded border border-black px-8 py-2 text-sm font-medium hover:bg-black hover:text-white">
					<i class="fa-brands fa-discord"></i> Discord
				</a>
			</div>
		</div>
	</body>
</html>
